:root {
  --color-light: #dadbdc;
  --color-medium: #c4c5c6;
  --color-medium-dark: #aeafb0;
  --color-medium-darker: #99999a;
  --color-dark: #484c52;
  --color-darker: #3a3d42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  /* height: 100vh; */
  color: #495057;
}

.app {
  padding-top: 3.2rem;
  min-height: 100vh;

  border-top: 1rem solid #3a3d42;
  border-bottom: 1rem solid #3a3d42;

  display: grid;
  grid-template-rows: auto 1fr auto;

  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.app-content {
  display: grid;
  grid-template-columns: 44rem 44rem;
  column-gap: 4rem;
  align-items: start;

  height: 100%;
}

.logo {
  justify-self: center;
}

.logo img {
  width: 44rem;
  margin-bottom: 1.6rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(100% - 1.8rem);

  padding: 1.2rem;
}

.workout-list {
  overflow: scroll;
  overflow-x: auto;
  max-height: calc(100vh - 35rem);

  margin-bottom: 1.2rem;
}

.workout-list .btn-delete {
  position: absolute;
  top: 0rem;
  right: 0rem;

  /* background-color: white; */
  border-radius: 0 7px 0 7px;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.4rem;

  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: auto 16rem auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 0.8rem;
  padding-right: 3.2rem;
  border-radius: 7px;
  transition: 0.5s;

  border: 1px solid var(--color-light);

  position: relative;
}

.sidebar li:hover {
  background-color: var(--color-light);
}

.selected {
  background-color: var(--color-light);
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
}

.logo img {
  width: 32rem;
}

.logo h1 {
  font-size: 3.2rem;

  padding: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;

  font-weight: 500;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;

  font-size: 1rem;
}

.button:hover {
  background-color: var(--color-darker);
}

.button-gray {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.8rem 1.2rem;
  font-weight: 600;

  font-size: 1.6rem;
}

.button-gray:hover {
  background-color: var(--color-medium);
}

.form-add {
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  flex-direction: column;

  border-radius: 7px;
}

.sub--heading {
  font-size: 1.2rem;
  padding-top: 1.2rem;
}

.form-add button {
  font-size: 1.2rem;
  font-weight: bold;

  padding: 0.8rem 1.2rem;
}

.form-add-workout {
  background-color: var(--color-light);

  margin-bottom: 2rem;
  transition: 0.5s;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);

  /* marginb */
}

.form-add-exercise {
  gap: 1.2rem;
  padding: 1.2rem;
}

.form-add-exercise form {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.form-add-exercise label {
  font-size: 1.6rem;
  font-weight: bold;
}

.form-add-exercise button {
  margin-bottom: 0;
}

.form {
  padding: 1.2rem;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.form-input {
  display: grid;
  grid-template-columns: auto 10rem 15rem;
  gap: 1rem;

  align-items: center;

  border-radius: 7px;
  transition: 0.5s;

  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.form-input--label {
  font-size: 1.4rem;
}

.form-input div {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.select {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  align-items: center;
}

input,
select {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;

  width: 100%;
}

.button-plus {
  background-color: var(--color-medium);
  color: var(--color-dark);
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.4rem;
  width: 40%;
}

.button-plus:hover {
  background-color: var(--color-medium-dark);
}

.button-serie {
  background-color: var(--color-medium-dark);
  color: var(--color-dark);
  font-weight: bold;
  font-size: 1.4rem;
  /* padding: 0.4rem; */
  width: 30%;
}

.button-serie:hover {
  background-color: var(--color-medium-darker);
}

.exercises {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 90%;

  /* background-color: var(--color-medium); */
  border-radius: 7px;

  /* height: calc(100vh - 10rem); */
}

.exercises-title {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.exercises-title span {
  font-size: 1.4rem;
}

.exercises-title h1 {
  margin-bottom: 0.4rem;
}

.exercise {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  background-color: var(--color-medium);
  border-radius: 7px;

  padding: 1.2rem;

  margin-bottom: 1.2rem;

  position: relative;
}

.exercise-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.exercise-sidebar button {
  font-size: 1rem;
  position: absolute;

  top: 0rem;
  left: 0rem;

  border-radius: 7px 0 7px 0;
}

.exercise ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
}

.exercise li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.4rem;

  align-items: center;
  font-size: 1.2rem;
}

.exercise input {
  height: 1.4rem;
  font-size: 1.2rem;
}

.exercises-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: calc(100vh - 30rem);
  overflow: scroll;
  overflow-x: auto;
}

/* .exercises-list div:last-child {
  margin-bottom: 1.2rem;
} */

.button-exercise {
  padding: 0.8rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;

  margin-bottom: 2.4rem;
}

.reps-label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.8rem;

  font-size: 1.2rem;
  font-weight: bold;

  margin-bottom: 0.8rem;
}

.reps {
  grid-column: 2 / 3;
}

.mb--16 {
  margin-bottom: 1.6rem;
}

.button-limpiar {
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;

  margin-bottom: 2.4rem;
  background-color: #fff;
  color: #3a3d42;
  border: 1px solid #3a3d42;
}

.button-limpiar:hover {
  background-color: #3a3d42;
  color: #fff;
}

.btn-delete {
  border-radius: 50%;
  background-color: var(--color-light);
  color: #3a3d42;

  font-size: 1rem;
}

.btn-delete:hover {
  background-color: #c92a2a;
  color: var(--color-light);
}

.btns-container {
  display: flex;
  gap: 1.2rem;
}

.footer {
  font-size: 1.2rem;
  padding: 1.2rem;

  text-align: center;
}

.footer a {
  text-decoration: none;
}

.hidden {
  display: none;
}
